body {
    background: grey;
}

nav {
    position: fixed;
    top: 100vh;
    color: rgb(20, 20, 20);
    height: 20vh;
}

span {
    display: inline;
    padding: 10%;
    color: rgb(72, 72, 72);
}
span > .pause {
    padding: 20%;
}