*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    padding: 2%;
    background-color: rgb(17, 17, 17);
}
.container-row > .container {
padding: 1%;
}
.container-row {
    gap: 5vh;
}
.contwo,
.contone {
    position: fixed;
    border-radius: 30px;
    border: grey 0.1px solid;
    padding: 2%;
    height: 80vh;
}
.countOne > div > img {
    border-radius: 100%;
    height: 5vh;
}
